@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(102, 243, 191);
    color: #000;
    font-size: 15px;
    line-height: 1.5;

}

a {
    color: #d63606;
    text-decoration: none;
    font-size: 1.5rem;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

.back {
    width: 100%;
    background: rgb(243, 170, 0);
    position: fixed;
    top: 0;
    z-index: 100;
    padding: 15px 0px;

}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 20px 10px;
    /* padding-bottom: 0px; */
    font-size: 13px;


}

.main-nav .logo {
    width: 100px;
    /* border-radius: 50px; */
}

.main-nav ul {
    display: flex;
}

.menu-btn {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    display: none;

}

.main-nav ul li {
    padding: 0px 10px;

}

.main-nav ul li a:hover {
    border-bottom: px solid #dc9315;
}

.btn {
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    border: 0;
    padding: 10px 20px;
    background: #3dcdea;
    font-size: 15px;
    color: #fff;

}

.btn-service {
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    border: 0;
    padding: 10px 20px;
    background: #3dcdea;
    font-size: 15px;
    color: #fff;
}

.btn:hover {
    color: #3dcdea;
    background: white;
}

/* .dark {
    color: #fff;
}

.btn:hover {
    opacity: 0.9;
} */

#showcase::before {
    content: '';
    background-size: inherit;
    background: #bc7700;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    opacity: 0.4;

}

#showcase {
    position: relative;
    width: 100%;
    height: 450px;
    background:
        url(../image/showcase.jpg) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    padding-bottom: 30px;
    margin-bottom: 20px;
    padding-top: 50px;
    padding-bottom: 30px;
    z-index: 1;
    margin-top: 50px;
}

#showcase h1,
h2,
p {
    padding-bottom: 25px;
    /* border-bottom: #b67300 solid 3px;   */
}

#showcase .call {
    padding-bottom: 0;
    /* border-bottom: #b67300 solid 3px;   */
}

#showcase p,
h2 {
    font-weight: bold;
    color: #e50000;
}

.main-text {
    font-size: 3rem;
    color: #00c42a;
    margin-top: 10px;
}

.call i {
    background: rgb(214, 193, 90);
    padding: 20px;
    border-radius: 50%;
}

#services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 0px 10px;

}

.service {

    background: rgb(103, 81, 184);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0px 10px;
    padding-bottom: 50px;
    padding-top: 40px;
    font-size: 1rem;
    color: #fff;

}

.service i {
    height: 100px;
    width: 100px;
    background: rgb(23, 93, 191);
    border-radius: 40%;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.service h2 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.container .btn-service {
    display: flex;
    align-items: center;
    justify-content: center;


}

.btn-service {
    margin: auto;
    width: 300px;
    padding: 20px;
    margin-bottom: 1rem;
    text-align: center;
}

.gallery img {
    width: 250px;
    height: 200px;

}

.flex-gallery {
    display: flex;
    align-items: center;
    justify-content: center;

}


.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

}

/* .showcase {
    width: 100%;
    height: 400px;
    background:
        url('https://i.ibb.co/zGSDGCL/slide1.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.showcase p,
.showcase h2 {
    margin-bottom: 10px;
}

.showcase .btn {
    margin-top: 20px;
}

.home-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.home-cards img {
    width: 100%;
    margin-bottom: 20px;
}

.home-cards a {
    display: inline-block;
    padding-top: 10px;
    color: #0067b0;
    text-transform: capitalize;
    font-weight: bold;
}

.home-cards h3 {
    margin-bottom: 5px;

}

.home-cards a:hover i {
    margin-left: 10px;
}

.xbox {
    width: 100%;
    height: 350px;
    background: url('https://i.ibb.co/tBJGPD9/xbox.png') no-repeat center center/cover;
    margin-bottom: 20px;
}

.xbox .content {
    width: 40%;
    padding: 50px 0px 0px 30px;
}

.xbox p,
.carbon p {
    margin: 10px 0px 20px;
}

.carbon {
    width: 100%;
    height: 350px;
    background: url('https://i.ibb.co/72cgtsz/carbon.jpg') no-repeat center center/cover;
}

.carbon .content {
    width: 55%;
    padding: 100px 0 0 30px;
}

.dark .btn {
    background: #f4f4f4;
    color: #333;
}

.follow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 0 30px;

}

.follow * {
    margin-right: 10px;
}

.links {
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
}

.links-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.links li {
    line-height: 2.8;
} */

.area-list {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(48, 239, 242);
    padding: 20px 0px;
    font-size: 1.2rem;
}

.area-list ul li {
    color: #bc7700;
}



.area-list ul {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.area-list ul li {
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;

}


.footer {
    background: #3ee9ec;
    color: #ffffff;
    font-size: 12px;
    padding: 20px 0;
}

.footer-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.footer ul {
    display: flex;
    flex-wrap: wrap;
}


.footer li {
    margin-right: 30px;
    margin-bottom: 20px;
}


.footer div {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer div i {
    margin-right: 15px;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #61ebe8;
    font-size: 1rem;
}

.social p {
    background: rgb(246, 255, 245);
    padding: 5px;
    border-radius: 20px;
    color: rgb(12, 194, 18);
}

.s-icon i {
    color: #f7fffe;
}

.s-icon i:hover {
    color: #d793eb;
}

.social * {
    padding: 0px 20px;
}

.main-page h1 {
    display: inline-block;
    border-bottom: #7cd606 1px solid;
}

.main-page {
    /* 
    height: 200px;
    width: 100%;
    background: linear-gradient(-45deg, #ed704a, #d6e73c, #ffdd43, #d2f153);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    text-align: center;
    padding-top:20px;
    margin-top:30px;
    margin-bottom:30px;
    */
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    justify-content: center;

}

.about-page {
    display: flex;
    align-items: center;
    padding: 0px 10px;

}

.page-image img {
    height: 600px;
    padding-right: 70px;
}

.text-page {
    line-height: 1.5rem;
}

.text-page h3 {
    margin-bottom: 1.5rem;
}

.text-page ul li {
    margin-bottom: 10px;
}

.call-banner {
    text-align: center;
    height: 250px;
    background-color: #00c42a;
    color: #fff;
    padding: 0px 50px;
    padding-top: 40px;
    padding-bottom: 10px;

}

.call-banner p {
    margin-bottom: 5px;
}

.service-page {
    height: 600px;
    text-align: center;
    line-height: 2rem;
    position: relative;
    padding: 0px 140px;
    padding-top: 50px;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.service-page::before {
    content: "";
    background: url(../image/service-page.jpg) no-repeat center center/cover;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}


.area-page::before {
    content: "";
    background: rgb(17, 155, 201);
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.container-faq {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}


#contact-form .form-group {
    margin-bottom: 20px;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
   position: relative;
}

#contact-form label::after {
 content:'';
 background: rgb(211, 5, 5);
 height: 2px;
 width: 100px;
 position: absolute;
left: -5px;
top: 32px;
}


#contact-form input,
#contact-form textarea {
    width: 80%;
    padding: 10px;
    border: 1px #ddd solid;
}

#contact-form textarea {
    height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus {
    outline: none;
    border-color: #a75a0c;
}

#contact-form  {
    font-family: 'Baloo 2', cursive;
    color:#fff;
    font-size: 1.5rem;
    padding-left: 30px
}

#contact-form p {
    color: #85700e;
}


@media(max-width:860px) {
    #services {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 916px) {
    .back {
        padding-left: 10px;
    }

    .service-page {
        padding: 0px 10px;
        padding-top: 30px;
        height: 100%;
    }

    .call-banner {
        height: 100%;
    }

    .about-page {
        padding: 0px 5px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .text-page {
        margin-top: 10px;
        text-align: center;
    }

    .about-page img {
        padding: 0px;
    }

}

@media(max-width: 771px) {

    .s-icon {
        display: grid;
        flex-direction: column;
    }

    .s-icon a {
        padding-bottom: 5px;
    }
}

@media(max-width: 700px) {

    #showcase {
        height: 100%;
        padding: 30px 0px 0px 0px;
    }

    #showcase h1 {
        font-size: 2rem;
    }

    .call i {
        font-size: 1rem;
    }

    #services {

        grid-template-columns: repeat(1, 1fr);
        padding: 0px 60px;

    }

    .service {
        padding-bottom: 0px;
    }

    .gallery {

        grid-template-columns: repeat(2, 1fr);
    }

    .gallery img {
        height: 150px;
        width: 150px;
    }


    .area-list ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }


    .menu-btn {
        display: block;
    }


    .menu-btn:hover {
        opacity: 0.5;
    }

    .main-menu {
        z-index: 3;
        background: #ffffff;
        width: 50%;
        height: 50vh;
    }

    .main-nav ul.main-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #ffffff;
        /* width: 50%;
        height: 100%;  */
        border-right: rgb(255, 255, 255) 1px solid;
        opacity: unset;
        padding: 0px 20px;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out;

    }

    .main-nav ul.main-menu li {
        padding: 10px;
        border-bottom: #ccc solid 1px;
        font-size: 14px;
    }

    .main-nav ul.main-menu li:last-child {
        border-bottom: 0;
    }

    .main-nav ul.main-menu.show {
        transform: translateX(-20px);
    }
}


/* @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
} */